aniso8601==1.2.1
appdirs==1.4.3
beautifulsoup4==4.6.0
cffi==1.10.0
click==6.7
cryptography==2.0.3
decorator==4.1.2
enum34==1.1.6
Flask==0.12.2
Flask-Ask==0.9.6
funcsigs==1.0.2
future==0.16.0
gmusicapi==10.1.2
gpsoauth==0.4.1
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
MechanicalSoup==0.7.0
mock==2.0.0
mutagen==1.38
oauth2client==4.1.2
pbr==3.1.1
proboscis==1.2.6.0
protobuf==3.3.0
pyasn1==0.3.2
pyasn1-modules==0.0.11
pycparser==2.18
pycryptodomex==3.4.6
pyOpenSSL==17.2.0
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.3
rsa==3.4.2
six==1.10.0
validictory==1.1.1
Werkzeug==0.12.2
fuzzywuzzy==0.15.1
python-Levenshtein==0.12.0
